.body
  min-height 100%
  padding gutter(2)
  background-color $BLACK

.field
  width gutter(40)
  height gutter(4)
  margin gutter() auto
  padding gutter()
  color $GREEN
  border 1px solid $GREEN

  &:focus
    outline none
    border 1px solid $GREEN_LIGHT

.button
  width gutter(20)
  height gutter(4)
  margin gutter() auto
  margin-bottom gutter(4)
  align-items center
  justify-content center
  background-color $GREEN

.active
  background-color: $GREEN_LIGHT

.label
  color $BLACK
  font-size 24px

.result
  margin-bottom gutter(4)
  color $GREEN
  text-align center
  font-size 20px
